DATABASE_URL=postgres://plank:plank@localhost:5432/plank?sslmode=disable
REDIS_URL=redis://:plank@localhost:6379
ALLOWED_ORIGIN=http://localhost:3000
SUPERADMIN_EMAIL=super@admin.com
SUPERADMIN_PASSWORD=eous390!
